

//Grid
.container-fluid
{
	width:100%;
}
.col-1
{
	width:8.33%;
}
.col-2
{
	width:16.66%;
}
.col-3
{
	width:25%
}
.col-4
{
	width:33.33%
}
.col-5
{
	width:41.66%
}
.col-6
{
	width: 50%
}
.col-7
{
	width:58.33%
}
.col-8
{
	width:66.66%
}
.col-9
{
	width: 75%
}
.col-10
{
	width: 83.33%
}
.col-11
{
	width: 91.66%
}
.col-12
{
	width: 100%;
}
[class*="col-"]
{
	padding: 0 12px;
}

.d-flex
{
	display: flex;
}

.f-wrap
{
	flex-wrap: wrap;
}

.text-center
{
	text-align: center;
}
.text-left
{
	text-align: left;
}
.text-right
{
	text-align: right;
}

.j-center
{
	justify-content: center;
}
.j-right
{
	justify-content: flex-end;
}

.j-left
{
	justify-content: flex-start;
}
.w-100
{
	width: 100%
}
.a-center
{
    align-items: center;
}

.p0{
    padding: 0;
}
.p1{
    padding: 1rem;
}
.t-left{
    text-align: left;
}



//User
.container{
    padding-bottom: 30px;


    .table-container{
        // background-color: aqua;
        border-radius: 1.2rem;
        width: 90rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        box-shadow: 0 0 1rem grey;
        padding: 0 ;

        .table-title{
            background-color: black;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            color: #fff;
            width: 100%; 
            height: 7rem;
            padding: 0;

            .table-btn{
                padding: 0; 
                button{
                    height: 72.8px;
                    background-color: crimson;
                    width: 100%;
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 600;
                    border-top-left-radius: 1rem;
                    border: 3px solid crimson;
                    &:hover{
                        background-color: #fff;
                        border: 0px;
                        box-shadow: 0 0 1rem crimson;
                        color: crimson;
                        transform: scale(1.1);
                        transition: all 0.2s ease-in-out;
                    }
                }
            }

            .dishe-btn{
                padding: 0; 
                button{
                    height: 72.8px;
                    background-color: #91c5d9;
                    width: 100%;
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 600;
                    border-top-right-radius: 1rem;
                    border: 3px solid #91c5d9;
                    &:hover{
                        background-color: #fff;
                        border: 0px;
                        box-shadow: 0 0 1rem var( --BlueShadow);
                        color:  var( --BlueShadow);
                        transform: scale(1.1);
                        transition: all 0.2s ease-in-out;
                    }
                }

            }


            h2{
                padding-bottom: 0;
                line-height: 7rem;
            }
            }

            .table-footer{
                background-color: black;
                border-bottom-right-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                color: #fff;
                width: 100%; 
                height: 3.5rem;
    
                h1{
                    padding-bottom: 0;
                    line-height: 7rem;
                }
        }

        .order-list{
            height: 45rem;
            overflow: auto;
            padding: 2rem 0;
            // background-color: crimson;

        }
        
    }
}

.banner, .banner-table{
    width: 100%;
    margin-bottom: 3rem;
    background-image: url(../../Images/lunchbg.jpeg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    height: 30rem;
    border-radius: 1rem;
    align-items: end;
    color: #fff;

    h1{
        margin-bottom: 9rem;
        margin-left: 4rem;
        font-size: 5rem;
    }
}

.banner-table{
    margin-top: 4rem;
    background-image: url(../../Images/Slider-food.jpeg);

    h1{
        margin: none;
    }
}

.item{
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow:0px 2px 5px #a4a3a3;
    height: 9rem;

    button{
        width: 7rem;
        height: 5rem;
        border-radius: 1rem;
        background: Grey;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 800;
        transition: all 0.3s ease-in;
        &:hover{
            background-color: #fff;
            color: red;
            box-shadow: 0 0 10px red;
        }
    }

}   

.info{
    padding-bottom: 1rem;
    h2{
        letter-spacing: 0.5px;
    }
    
    p{
        margin-top: 0.5rem;
        color: grey;
        font-weight: 500;
    }
    p span{
        font-weight: 700;
    }

    h4{
        margin-top: 0.5rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 20px;
    }
    .time{
        margin-left: 2rem;
    }
    h4 span{
        color: grey;
    }

    .span-total{
        margin-left: 2em;
    }
}

.logo{
    img{
    
        width: 7rem;
        height: 6rem;
    }

}


.fixed{
    position: fixed;
    bottom: 0;
}
.bg-blue{
    background-color: blue;
}

.total{

    margin-top: 5rem;
    width: 83.33%;
    box-shadow: 0px 0px 10px #a4a3a3;
    height: 10rem;
    padding-left: 3rem;

    .col-2, .col-12, .col-10{
        padding: 0;
    }

    .col-10{
        margin: auto 0;
    }
    // border: 1px solid #cecece;
    h1{

        font-size: 3rem;
        letter-spacing: 2px;
        span{
            font-size: 2.5rem;
            padding-left: 3rem;
            font-weight: 500;
            letter-spacing: normal;
        }
        
    }

    .order-btn{
        width: 100%;
        height: 10rem;
        background: red;
        color: #fff;
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: 800;
        transition: all 0.1s ease-in;
        &:hover{
            background-color: #fff;
            color: red;
            box-shadow: 0 0 10px red;
        }
    }
}


@media screen and (max-width: 600px) {
    .item, .banner, .total{
        width: 100%;
    }

   .total{

        align-items: center;

    .col-10{
        width: 70%;
    }

    .col-2{
        width: 30%;
    }

        h1{
            font-size: 2.5rem;
            letter-spacing: 1.5px;
            span{
                font-size: 2rem;
                padding-left: 1rem;
                font-weight: 500;
                letter-spacing: normal;
            }      
        }


        .order-btn{
            width: 100%;
            height: 10rem;
            background: red;
            color: #fff;
            font-size: 1.5rem;
            letter-spacing: 2px;
            font-weight: 800;
            transition: all 0.1s ease-in;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            &:hover{
                background-color: #fff;
                color: red;
                box-shadow: 0 0 10px red;
            }
        }
   }

    
  }
